<section class="edit-page">
  <h1 class="edit-title">{{ contact._id ? "Edit" : "Add" }} Contact</h1>

  <form class="edit-form" (ngSubmit)="onSaveContact()">

    <div class="group">
      <label class="edit-label" for="name">Name </label>
      <input
        class="edit-input"
        [(ngModel)]="contact.name"
        type="text"
        name="name"
        id="name"/>
    </div>

    <div class="group">
      <label class="edit-label" for="phone">Phone </label>
      <input
        class="edit-input"
        [(ngModel)]="contact.phone"
        type="text"
        name="phone"
        id="phone"/>
    </div>

    <div class="group">
      <label class="edit-label" for="email">Email </label>
      <input
        class="edit-input"
        [(ngModel)]="contact.email"
        type="text"
        name="email"
        id="email"/>
    </div>

    <button class="edit-btn">Save</button>

  </form>
</section>

