.signup-form {
    display: flex;
    flex-direction: column;
    .top {
        display: flex;
        justify-content: space-between;
        .signup-label {
            color:#EFEFEF;
                        margin-right: 10px;

        }
        
        .signup-input {
            border-radius: 5px;
        }
    }
    .signup-btn {
        margin-top: 5px;
        border-radius: 5px;
        background-color: unset;
        border: unset;
        color:#EFEFEF;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }

}

